:root{
    --backgroundColor: #292c33;
    --color1: #313e35;
    --color2: #b14b34;
    --color3: #e86726;
    --color4: #fe9b33;
}
html, body{
    background-color: var(--backgroundColor);
    margin: 0;
    height: auto;
    width: auto;
}
#gameContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
}
#playerSymbol{
    height: 20vh;
    width: 20vh;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    border-radius: 14px;
    transition: 0.4s;
    display: grid;
    place-items: center;

    & > p{
        cursor: default;
    }
}
#computerSymbol{
    height: 20vh;
    width: 20vh;
    grid-column: 3/4; 
    justify-self: center;
    align-self: center;
    border-radius: 14px;
    transition: 0.4s;
    display: grid;
    place-items: center;

    & > p{
        cursor: default;
    }
 }
#grid{
    background-color: var(--color2);
    height: 70vh;
    width: 70vh;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    box-shadow: 10px 10px 15px var(--color3) inset, -10px -10px 15px var(--color3) inset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 20px;
}

#x{
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 20px;
    background-color: var(--color1);
    color: var(--color4);
    border: none;
    border-radius: 20px;
    font-size: 80pt;
    transition: 0.4s;
    
    &:hover{
        margin: 10px;
        font-size: 100pt;
        cursor: pointer;
        border: 2px solid var(--color4);
    }
}
#o{
    grid-row: 2/3;
    grid-column: 2/3; 
    margin: 20px;
    background-color: var(--color1);
    color: var(--color4);
    border: none;
    border-radius: 20px;
    font-size: 80pt;
    transition: 0.4s;
    
    &:hover{
        margin: 10px;
        font-size: 100pt;
        cursor: pointer;
        border: 2px solid var(--color4);
    } 
}
.char{
    background-color: var(--color2);
    box-shadow: 5px 5px 10px var(--color3) inset, -5px -5px 10px var(--color3) inset;
}
p{
    font-size: 50pt;
    margin: 0;
    padding: 0;
    color: var(--backgroundColor);
    transition: 1.4s;
}
.pRevealed{
    color: var(--color4);
    background-color: var(--color2);
}
#gridd{
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1/3;
    grid-row: 1/3;

    & > div{
        display: grid;

        & > p{
            place-self: center;
        }
    }
}
.tile{
    background-color: var(--color3);
    margin: 1px;
    border-radius: 20px;

    &:hover{
        background-color: var(--color2);
        cursor: pointer;
    }
}